<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
<!-- This is a brief overview of the scholarship candidate, Marc Marshall.-->
    <h1>Hello, my name is Marc Marshall!</h1>
    <h2>Information Systems & Marketing Major</h2>
    <h2>Senior Class of 2023</h2>

    <p>I am very interested in entering the world of tech after graduation. I have accepted a role as a <strong> tech analyst at Accenture </strong>. I am very excited to start and hope this class gives me <strong> necessary skills </strong> to succeed in this role.</p>
    <p>Outside of school I am very interested in videography. My business name is <em> Marc Warr </em> and the name is inspired from my late Grandfather <em> Jesse Warr. </em> I hope to do this full time one day.</p>

    <!-- 2023 goals for Marc Warr videography.-->
    <h2>Video Goals for the Year</h2>

    <ul>
        <li>Shoot every single day</li>
        <li>Upgrade camera by end of 2023</li>
        <li>Create an official LLC</li>
    </ul>

    <h2>Steps to Achieve my Goals</h2>
        <ol>
            <li>Have my camera with my at all times.</li>
            <li>Create a separate Marc Warr business account to track funds</li>
            <li>Research business licensing</li>
        </ol>
<!-- Semester scheduling for University of Maryland clases.-->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
            <tr>
                <td>BMGT380</td>
                <td>Fall 22</td>
            </tr>
        <tr>
            <td>BMGT495</td>
            <td>Spring 22</td>
        </tr>
        <tr>
            <td>ECON306</td>
            <td>Spring 23</td>
        </tr>
    </table>

    <a href="/hello" target="_blank"><p>Home Page</p></a>
    <h2>Favorite Websites</h2>
    <p>A link to <a href="https://www.espn.com/">ESPN</a>.</p>
    <p>A link to <a href="https://www.nike.com/" target="_blank">Nike</a>.</p>

    <p>Here is a picture of the Smith Logo.</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">
</body>
</html>