{% extends "base.html" %}


{% block page_header %}Contact Us{% endblock %}


{% block page_content %}

<!--Thank you message-->
{% if form_submitted %}
   <div class col-md-6>
       <h3>You have successfully completed the form! Thank You!</h3>
   </div>

   <div class="col-md-6">
       <p>First Name:</p>
   </div>
   <div class="col-md-6">
       <p>{{ request.form.get('first_name') }}</p>
   </div>

   <div class="col-md-6">
       <p>Last Name:</p>
   </div>
   <div class="col-md-6">
       <p>{{ request.form.get('last_name') }}</p>
   </div>

   <div class="col-md-6">
       <p>Email:</p>
   </div>
   <div class="col-md-6">
       <p>{{ request.form.get('email') }}</p>
   </div>

   <div class="col-md-6">
       <p>Agree to be Contacted:</p>
   </div>
   <div class="col-md-6">
       <p>{{ 'Yes' if request.form.get('contact_consent') else 'No' }}</p>
   </div>

<p><a href="{{ url_for('contact') }}">Complete form again</a></p>
{% else %}

<form class="row g-3" action="{{ url_for('contact') }}" method="post">
 <div class="col-md-6">
     <label for="first_name" class="form-label">First Name</label>
     <input type="text" class="form-control-sm" id="first_name" name="first_name" placeholder="First Name" aria-label="First Name">
 </div>
   <div class="col-md-6">
     <label for="last_name" class="form-label">Last Name</label>
     <input type="text" class="form-control-sm" id="last_name" name="last_name" placeholder="Last Name" aria-label="Last Name">
 </div>
   <div class="input-group col-md-6">
     <label for="email" class="form-label">Email Address</label>
     <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-label="Email">
   </div>


 <div class="col-md-6">
     <label for="phone_number" class="form-label">Phone Number</label>
     <input type="tel" class="form-control-sm" placeholder="123-456-7890" name="phone_Number">
 </div>


 <div class="col-md-12 form-check">
     <input class="form-check-input-sm" type="checkbox" id="contact_consent" name="contact_consent">
     <label for="contact_consent" class="form-label">I agree to be contacted.</label>
 </div>


 <div class="col-md-6">
     <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>
{% endif %}

{% endblock %}